@import 'smart-grid';
@import './var/var';
@import './button/button.scss';
@import './effects/effects';
@import './footer/footer';
@import './header/header';
@import './section/section';

@font-face {
 font-family: 'Avenir';
 src: url('../fonts/AvenirLTStd-Black.otf'),
  url('../fonts/AvenirLTStd-Book.otf'),
  url('../fonts/AvenirLTStd-Roman.otf')
}

* {
 @include reset();
 font-family: 'Avenir-book';
 font-weight: 200;
}