.header {
 height: 100vh;
 background-color: #FEDA51;

 &__navbar {
  @include wp();
  height: 10vh;
  display: flex;
  justify-content: space-between;

  .logo {
   text-align: center;


   img {
    height: 100px;
    margin-bottom: 1rem;
   }

   p {
    color: #fff;
    font-size: 15px;
   }
  }
 }

 &__nav {
  .menu__toggler {
   position: relative;
   top: 20px;
   left: 20px;
   z-index: 999;
   height: 28px;
   width: 28px;
   outline: none;
   cursor: pointer;
   display: flex;
   align-items: center;

   span,
   span::before,
   span::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background: #ffffff;
    border-radius: 40px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
   }

   span::before {
    top: -10px;

   }

   span::after {
    top: 10px;
   }

   &.active>span {
    background: transparent;
   }

   &.active>span::before,
   &.active>span::after {
    background: #FEDA51;
    top: 0px;
    transition: all 500ms;

   }

   &.active>span::before {
    transform: rotate(-225deg);
   }

   &.active>span::after {
    transform: rotate(225deg);
   }

  }

  .menu {
   position: absolute;
   left: -35%;
   z-index: 998;
   color: #005c9c;
   background: rgba(#fafafa, .99);
   clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
   width: 35%;
   height: 100%;
   padding: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);

   a {
    text-decoration: none;
    color: #FEDA51;
    font-size: 45px;
    text-shadow: 3px 0px 0px #FDBD30;
    transition: all 1s;

    @include md-block() {
     font-size: 25px;
    }
   }

   :hover {
    color: #005c9c;
   }


   @media only screen and (max-width: 600px) {
    width: 250px;
    left: -250px;
    padding: 50px;
   }

   &.active {
    left: 0;
   }

   p {
    font-size: 1.5em;
    margin-bottom: 1rem;
   }
  }

  @import url('https://fonts.googleapis.com/css?family=K2D');

  *,
  *::before,
  *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

 }

 &__items-middle {
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;

  img {
   // height: 600px;

   // width: 100%;
   @include size(20);
   @include size-md(24);

   @include md-block() {
    margin-top: 8rem;
   }
  }
 }
}