header {
 height: 100vh;
 @include gradient(#FEDA51, #FEDA51, vertical);

 .wrapper {
  .navbar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 8vh;
   background: #FEDA51;
   color: #000000;
   font-family: 'Montserrat';


   .logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
   }

   .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
   }

   .nav-links li {
    list-style: none;
   }

   .nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: bold;
    font-size: 15px;
   }

   .burger div {
    width: 25px;
    height: 2px;
    background: #fff;
    margin: 5px;
   }

   .burger {
    display: none;
    /* color: aliceblue; */
   }

   .nav-active {
    transform: translateX(0%);
    background-color: #F9F3EE;
    color: #000000;
   }

   @include lg-block {
    .nav-links {
     width: 60%;
     color: #000000;

    }
   }

   @include sm-block {
    body {
     overflow-x: hidden;
    }

    .nav-links {
     position: absolute;
     right: 0px;
     height: 32vh;
     top: 8vh;
     color: #000000;

     // background: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     transform: translateX(100%);
     transition: transform 0.5s ease-in;


     li {
      opacity: 1;
     }

    }

    .nav-active {
     transform: translateX(0%);
    }

    .burger {
     display: block;
    }

    .toggle .line1 {
     transform: rotate(-45eg translate(-5px, 6px));
    }

    .toggle .line2 {
     opacity: 0;
    }

    .toggle .line3 {
     transform: rotate(-45eg translate(-5px, 6px));
    }
   }

   @keyframes navLinkFade {
    from {
     opacity: 0;
     transform: translateX(50px);
    }

    to {
     opacity: 1;
     transform: translateX(0px);

    }
   }
  }
 }
}